/* line 1, ../sass/_base.scss */
.body {
  font-family: Verdana, Geneva, sans-serif;
}

/* line 1, ../sass/_layout.scss */
.row {
  padding: 0px 20px;
}

/* line 5, ../sass/_layout.scss */
.page-header {
  padding-left: 15%;
}

@media (max-width: 600px) {
  /* line 3, ../sass/_detailView.scss */
  .detail-view {
    width: 90%;
    margin: 0px auto;
  }
}
@media (min-width: 600px) {
  /* line 10, ../sass/_detailView.scss */
  .detail-view {
    width: 45%;
    margin-right: 5%;
  }
}
/* line 16, ../sass/_detailView.scss */
.detail-view {
  float: left;
}

/* line 20, ../sass/_detailView.scss */
.detail-view .panel-body {
  height: 100px;
}

@media (max-width: 600px) {
  /* line 28, ../sass/_detailView.scss */
  .user-detail-view {
    width: 90%;
    margin: 0px auto;
  }
}
@media (min-width: 600px) {
  /* line 35, ../sass/_detailView.scss */
  .user-detail-view {
    width: 45%;
    margin-right: 5%;
  }
}
/* line 41, ../sass/_detailView.scss */
.user-detail-view {
  float: left;
}

/* line 45, ../sass/_detailView.scss */
.user-detail-view .panel-body {
  height: 295px;
}
